<div class="main-wrapper">
    <div class="message-wrapper">
        <div class="options">
            <span class="logo-wrapper" (click)="proceedReply.emit('Replying')">
              <span class="iconify" data-icon="fa-solid:reply"></span>
            </span>
            <span *ngIf="message.me" class="logo-wrapper" (click)="proceedReply.emit('Editing')">
              <span class="iconify" data-icon="ant-design:edit-filled"></span>
            </span>
          </div>
        <div class="current-message-detail">
            <div class="core-info">
                <span class="sender">{{message.userName[0] | titlecase}}</span>
                <span class="sender-name">{{message.userName | titlecase}}</span>
                <span class="time" style="padding-left: 1px;">{{message.time | date:'shortTime'}}</span>
            </div>
            <div>
                <span class="iconify" data-icon="bi:three-dots-vertical"></span>
            </div>
        </div>
        <div class="reply-to-details" (click)="scrollTo.emit()">
            <div>
                <span class="reply-to-user">{{message.parentMessageUser[0] | titlecase}}</span>
                <span class="reply-to-name">{{message.parentMessageUser | titlecase}}</span>
            </div>
            <div class="reply-message-content">
                <ng-container *ngIf="!message.parentMessageUrl || message.parentMessageUrl.length == 0 else parentfileContent">
                    {{message.parentMessage}}
                </ng-container>
                <ng-template #parentfileContent>
                <ng-container *ngIf="message.isParentImage">
                    <img class="parentMessageImg" src="{{message.parentMessageUrl}}" alt="" srcset="">
                </ng-container>
                <ng-container *ngIf="!message.isParentImage">
                    <span class="me-1" style="color: #252631;">
                    <span class="iconify" data-icon="ic:baseline-file-download"></span>
                    </span>
    
                    <a href="{{message.parentMessageUrl}}">
                    {{message.parentMessageUrl?.slice(-28)}}
                    </a>
                </ng-container>
                </ng-template>
            </div>
        </div>
        <div class="current-message-content">
            <ng-container *ngIf="(message.fileUrl == null || message.fileUrl == '') else fileContent">
                {{message.body}}
              </ng-container>
              <ng-template #fileContent>
                <ng-container *ngIf="message.isImage">
                  <img class="currentMessageImg" src="{{message.fileUrl}}" alt="" srcset="">
                </ng-container>
                <ng-container *ngIf="!message.isImage">
                  <span class="me-1" style="color: #252631;">
                    <span class="iconify" data-icon="ic:baseline-file-download"></span>
                  </span>
  
                  <a href="{{message.fileUrl}}">
                    {{message.fileUrl.slice(-28)}}
                  </a>
                </ng-container>
              </ng-template>
        </div>
    </div>
    <div class="edit-symbol" [class.last-order]="message.me" *ngIf="message.isEdited">
        <span class="iconify" data-icon="fluent:edit-32-regular"></span>
    </div>
</div>