.main-wrapper{
    display: flex;
    flex: 1;
    gap: 8px;
    align-items: center;
}
.message-wrapper{
    flex-grow: 1;
    padding: 10px 15px;
    background: linear-gradient(0deg, rgba(94, 129, 244, 0.1), rgba(94, 129, 244, 0.1)), #FFFFFF;
    border-radius: 12px;
    position: relative;
}

.message-wrapper .options{
    position: absolute;
    background-color: gray;
    color: white;
    border-radius: 10px;
    padding: 1px 7px;
    top: -15px;
    right: -7px;
    display: none;
}

.message-wrapper:hover .options {
    display: flex;
    gap: 13px;
    align-items: center;
}

.edit-symbol{
    order: 1;
}

.edit-symbol.last-order{
    order: -1;
}


.logo-wrapper{
    cursor: pointer;
  }

.message-wrapper.me{
    background: linear-gradient(0deg, rgba(94, 129, 244, 0.2), rgba(94, 129, 244, 0.2)), #FFFFFF;
}

.current-message-detail{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    gap: 15px;
}

.current-message-detail .sender{
    width: 30px;
    height: 30px;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 50%;
    color: white;
    background-color: #5E81F4;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
}

.core-info{
    display: flex;
    gap: 5px;
}

.core-info .sender-name, .reply-to-name{
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}

.core-info .normal-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #8181A5;
}

.current-message-content .time{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: rgba(0, 0, 0, 0.6);
    margin-left: auto;
    align-self: flex-end;
    white-space: nowrap;
}

.reply-to-details{
    cursor: pointer;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 18px;
    border-left: 4px solid rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
}

.reply-to-details div:first-child{
    display: flex;
    align-items: center;
    gap: 10px;
}

.reply-to-user{
    width: 20px !important;
    height: 20px !important;
    line-height: 20px;
    font-size: 12px;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 50%;
    color: white;
    background-color: #5E81F4;
    text-align: center;
}

.reply-to-name{
    font-size: 15px;
    line-height: 18px;
}

.reply-message-content{
    margin-top: 7px;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}

.current-message-content{
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    display: flex;
    gap: 5px;
}

.currentMessageImg{
    max-width: 400px;
}

.parentMessageImg{
    max-width: 100px;
}

.react-symbol{
    order: 1;
  }
  
.react-symbol{
align-self: flex-start;
font-size: 12.5px;
cursor: pointer;
}

::ng-deep .mat-menu-panel{
    max-width: 100% !important;
  }
  
  ::ng-deep .mat-menu-content:not(:empty) {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  
  .reacts{
    position: absolute;
    bottom: -8px;
    right: 0;
    display: flex;
    gap: 1px;
    font-size: 14px;
  }
  
  .reacts .react-item{
    cursor: pointer;
  }

  .reaction{
    color: #5E81F4;
    background: #FFFFFF;
    border: 0.497706px solid #EEEEEE;
    box-shadow: 0px 3.98165px 5.97248px rgba(0, 0, 0, 0.12), 0px 1.99083px 1.99083px rgba(0, 0, 0, 0.1);
    border-radius: 248.853px;
    padding: 2.97248px 5.945px;
    font-size: 16px;
  }

  .short-text{
    font-size: 17px;
  }